.create-product-form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  /* max-width: 400px; */
}

.create-product-form h2 {
  margin-bottom: 15px;
}

.create-product-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.create-product-form button {
  width: 100%;
  background: #3498db;
}
